{% extends "tobusan/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<header style="background-image: url('/static/assets/img/bg-header.jpg');">

<div class='row' style="padding-top: 100px">
<div class='col-sm-6 col-sm-offset-3' style="color:#FFFFFF">
<h1>비밀번호 변경</h1>
<p class='lead'>비밀번호를 초기화  링크를 받을 이메일을 입력해주세요.</p>
<form method="post" action=".">
  {% csrf_token %}
    {{ form|crispy }}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>

</div>
</header>
{% endblock %}


